body {
	font-family: sans-serif;
}

select {
	width: 50em;
	height: 20em;
}

video {
	background-color: #000;
	width: 50em;
	height: 30em;
	object-fit: fill;
}

progress {
	width: 50em;
	height: 2em;
}

.selected {
	background-color: green;
}
