html * {
	font-family: sans-serif;
}

select {
	width: 50em;
	height: 20em;
}

video {
	background-color: #000;
	object-fit: fit;
}

progress {
	width: 800px;
	height: 2em;
}

div {
	margin-top: 0.5em;
}

.selected {
	background-color: green;
}

.media-player {
	text-align: center;
}
